<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">
        <a href="/" class="navbar-brand navbar-brand-primary">Matbjörg</a>
        <form class="form-inline my-2 my-lg-0 main-search-box">
            <div class="input-group w-100">
                <input type="search" placeholder="Leitaðu að vöru" class="form-control searchBar">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-outline-light" value="Leita">
                </div>
            </div>
        </form>
        <div th:switch="${loggedInUser}">
            <div th:case="null">
                <ul class="navbar-nav nav-auto">
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Innskráning</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">Nýskráning</a>
                    </li>
                    <li class="nav item ml-auto">
                        <a th:href="@{/order}" th:if="${userType} == 'Buyer'" class="nav-link">Karfa</a>
                    </li>
                </ul>
            </div>
            <div th:case="*">
                <ul class="navbar-nav nav-auto">
                    <li class="nav-item">
                        <a th:href="@{/profile/} + ${userType}" th:text="${loggedInUser.name}" class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Útskráning</a>
                    </li>
                    <li class="nav item ml-auto">
                        <a th:href="@{/order}" th:if="${userType} == 'Buyer'" class="nav-link">Karfa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>
