html,
body {
    width 100%;
    min-height: 100vh;
}

#hero-section {
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-image: url('https://source.unsplash.com/O70hwncRDC8');
  background-attachment: fixed;
  background-size: 100%;
}

#ad-section {
    min-height: 50vh;
}

.card-linkable {
  text-decoration: none;
  color: inherit;
}

.card-linkable:hover {
    color: inherit;
}