<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Advertisments</title>
</head>
<body>
<h1>Auglýsingar</h1>
<div th:switch="${#lists.size(advertisements)}">
    <h2 th:case="0"> No advertisement yet!</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Owner</th>
                <th>Name</th>
                <th>Description</th>
                <th>Original amount</th>
                <th>Current amount</th>
                <th>Price</th>
                <th>Expires</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="advertisement : ${advertisements}">
                <td th:text="${advertisement.owner}"></td>
                <td th:text="${advertisement.name}"></td>
                <td th:text="${advertisement.description}"></td>
                <td th:text="${advertisement.originalAmount}"></td>
                <td th:text="${advertisement.currentAmount}"></td>
                <td th:text="${advertisement.price}"></td>
                <td th:text="${advertisement.expireDate}"></td>
                <td><a th:href="@{/orderitem/} + ${advertisement.id}">Skoða</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>