<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <head th:insert="/Fragments/headerLinks.html">

    </head>

    <title>Advertisments</title>
</head>
<body>
<div th:insert="Fragments/navbar.html"></div>
<div class="container">
    <div class="row pt-5">
        <div class="col-2">
            <div class="row justify-content-start row-cols-1">
                <form action="/ads" class="row row-cols-1">
                    <h2 class="h6">Vöruflokkar</h2>
                    <div th:each="tag : ${tags}">
                        <div class="form-group form-check">
                            <input type="checkbox" th:id="${tag}" class="form-check-input">
                            <label th:for="${tag}" class="form-check-label lowercase-capitalize" th:text="${tag}"></label>
                        </div>
                    </div>
                    <hr>
                    <h2 class="h6">Söluaðili</h2>
                    <div th:each="seller : ${sellers}">
                        <div class="form-group form-check">
                            <input type="checkbox" th:id="${seller}" class="form-check-input">
                            <label th:for="${seller}" class="form-check-label" th:text="${seller}"></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-10">
            <div th:switch="${#lists.size(advertisements)}">
                <th:block th:case="0">
                    <p th:if="${!(search == null)}" class="d-flex justify-content-end"><a href="/advertisements">Skoða allar auglýsingar</a></p>
                    <th:block th:switch="${search}">
                        <h2 th:case="null">Það eru engar virkar auglýsingar</h2>
                        <h2 th:case="*">Engar leitarniðurstöður</h2>
                    </th:block>
                </th:block>
                <div th:case="*">

                    <div class="row row-cols-1">
                        <p th:if="${!(search == null)}" class="d-flex justify-content-end"><a href="/advertisements">Skoða allar auglýsingar</a></p>
                        <div th:each="advertisement : ${advertisements}" class="card w-100">
                            <div th:class="row + ' ' + no-gutters + ' ' + advertisement + ' ' + ${advertisement.owner}"
                                 th:each="tag : ${advertisement.tags}"
                                 th:classappend="${tag}">
                                    <div class="col-md-4">
                                        <a th:href="@{/orderitem/} + ${advertisement.id}" class="card-linkable"><img th:src="@{/img/advertisementImages/} + ${advertisement.pictureName}" class="card-img"></a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <a th:href="@{/orderitem/} + ${advertisement.id}" class="card-linkable"><h5 class="card-title" th:text="${advertisement.name}"></h5></a>
                                            <p class="card-text"><strong th:text="${advertisement.owner}"></strong></p>
                                            <p class="card-text"><strong th:text="${advertisement.price}"></strong></p>
                                            <p class="card-text" th:text="${advertisement.description}"></p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/js/search.js}"></script>
</body>
</html>
