<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <div th:replace="Fragments/headerLinks :: header"></div>
    <title>Profile</title>
</head>
<body>
<div th:insert="Fragments/navbar.html"></div>

<div class="text-center p-2">
    <div class="card text-center border-primary w-50">
        <div class="card-body">
          <h1 class="card-title" th:text="${buyer.name}"></h1>
          <p class="card-subtitle">Kaupandi</p>
          <p class="card-text" th:text = ${buyer.email}></p>
        </div>
    </div>
</div>

<div class="container mb-5">
<div th:switch="${#lists.size(previousOrders)}">
    <h2 th:case="0"> Engar pantanir </h2>
    <div th:case="*">
        <h2>Þínar pantanir</h2>
        <div th:each="order : ${previousOrders}">
            <table class="table table-bordered th">
                <caption th:text=" 'Tími kaupa: ' +${order.timeOfPurchase}"></caption>
                <thead class="table thead-light th">
                <tr>
                    <th>Heiti</th>
                    <th>Magn</th>
                    <th>Verð</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${order.items}">
                    <td th:text="${item.advertisement.name}"></td>
                    <td th:text="${item.amount}"></td>
                    <td th:text="${item.advertisement.price}"></td>
                </tr>
                <tr>
                    <td th:text="'Heildarverð: ' + ${order.totalPrice}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</div>
</body>
</html>
