<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <head th:insert="/Fragments/headerLinks.html"></head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div th:insert="Fragments/navbar.html"></div>

<div class="card card-body">
  <h1 class="card-title" th:text="${buyer.name}"></h1>
    <p class="card-subtitle">Kaupandi</p>
  <p class="card-text" th:text = ${buyer.email}></p>
</div>
<div th:switch="${#lists.size(previousOrders)}">
    <h2 th:case="0"> Engar pantanir </h2>
    <div th:case="*">
        <h2>Þínar pantanir</h2>
        <div th:each="order : ${previousOrders}">
            <h4 th:text=" 'Tími kaupa: ' +${order.timeOfPurchase}"></h4>
            <table class="table table-bordered th">
                <thead class="table thead-light th">
                <tr>
                    <th>Heiti</th>
                    <th>Magn</th>
                    <th>Verð</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${order.items}">
                    <td th:text="${item.advertisement.name}"></td>
                    <td th:text="${item.amount}"></td>
                    <td th:text="${item.advertisement.price}"></td>
                </tr>
                </tbody>
            </table>
            <p th:text="'Heildarverð: ' + ${order.totalPrice}"></p>
        </div>
    </div>
</div>
</body>
</html>
