<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link href="../static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"
          rel="stylesheet" media="screen" />
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1 th:text="${buyer.name}"></h1>
<p th:text = ${buyer.email}></p>
<hr>
<div th:switch="${#lists.size(previousOrders)}">
    <h2 th:case="0"> Engar pantanir </h2>
    <div th:case="*">
        <h2>Þínar pantanir</h2>
        <div th:each="order : ${previousOrders}">
            <h4 th:text=" 'Tími kaupa: ' +${order.timeOfPurchase}"></h4>
            <table>
                <thead>
                <tr>
                    <th>Heiti</th>
                    <th>Magn</th>
                    <th>Verð</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${order.items}">
                    <td th:text="${item.advertisement.name}"></td>
                    <td th:text="${item.amount}"></td>
                    <td th:text="${item.advertisement.price}"></td>
                </tr>
                </tbody>
            </table>
            <p th:text="'Heildarverð: ' + ${order.totalPrice}"></p>
        </div>
    </div>
</div>
</body>
</html>
