<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="#" th:action="@{/login}" th:object="${user}" method="post">
    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:error="*{email}"></span>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:error="*{password}"></span>
    <input type="submit" value="Login">
</form>
<p>
    Do not have an account?
    <a href="\signup">Sign up</a>
</p>
</body>
</html>