<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <head th:insert="/Fragments/headerLinks.html">

    </head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<div th:insert="Fragments/navbar.html"></div>


<div th:switch="${#lists.size(order.items)}">
    <div th:case="'0'">
        <div class="container pt-5">
            <h2>Karfan er tóm!</h2>
        </div>
    </div>
    <div th:case="*">
        <div class="container pt-5">
            <div class="row">
                <div class="col-12 pt-1" th:each="item : ${order.items}">
                    <div class="row">
                        <div class="col-3">
                            <img th:src="@{/img/advertisementImages/} + ${item.advertisement.pictureName}" class="img-thumbnail advertisement-image m-auto">
                        </div>
                        <div class="col-4 d-flex flex-column">
                            <h3 th:text="${item.advertisement.name}"></h3>
                            <div class="p-1">
                                <label for="owner" class="font-weight-bold">Söluaðili:</label>
                                <span th:text="${item.advertisement.owner}" id="owner"></span>
                            </div>
                            <div class="p-1">
                                <label for="description" class="font-weight-bold">Lýsing:</label>
                                <span th:text="${item.advertisement.description}" id="description"></span>
                            </div>
                            <div class="p-1">
                                <label for="amountNow" class="font-weight-bold">Magn:</label>
                                <span th:text="${item.amount} + ' kg'" id="amountNow"></span>
                            </div>
                            <div class="p-1">
                                <label for="price" class="font-weight-bold">Verð:</label>
                                <span th:text="${item.advertisement.price} + ' kr./kg'" id="price"></span>
                            </div>
                            <div class="p-1">
                                <label for="expires" class="font-weight-bold">Gildir til:</label>
                                <span th:text="${item.advertisement.expireDate}" id="expires"></span>
                            </div>
                            <div class="p-1">
                                <form th:action="@{/changeAmount/} + ${item.id}">
                                    <label for="amount" class="font-weight-bold">Breyta magni</label>
                                    <input type="number" name="amount" id="amount" th:value="${amount}" min=".25" step=".25"
                                           th:max="${item.advertisement.currentAmount}"
                                           required>
                                    <input type="submit" value="Staðfesta" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                        <div class="col-2 ml-auto mt-auto mb-auto">
                            <a th:href="@{/removeFromOrder/{id}(id=${item.id})}" class="btn btn-primary btn-delete">Eyða úr körfu</a>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row d-flex flex-column">
                <p th:text="'Samtals: ' + ${totalPrice} + ' kr.'" class="font-weight-bold"></p>
                <a href="/receipt" class="btn btn-primary">Kaupa</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
