<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<h1 th:text="@{Karfa fyrir } + ${buyer}"></h1>
<div th:switch="${order}">
    <h2 th:case="null">Karfan er tóm</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Söluaðili</th>
                <th>Heiti</th>
                <th>Lýsing</th>
                <th>Magn</th>
                <th>Verð</th>
                <th>Gildir til</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${order.items}">
                <td th:text="${item.advertisement.owner}"></td>
                <td th:text="${item.advertisement.name}"></td>
                <td th:text="${item.advertisement.description}"></td>
                <td th:text="${item.amount}"></td>
                <td th:text="${item.advertisement.price}"></td>
                <td th:text="${item.advertisement.expireDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
