<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <head th:insert="/Fragments/headerLinks.html">

    </head>
    <title>Sellers</title>
</head>
<body>
<div th:insert="Fragments/navbar.html"></div>

<div th:switch="${lists.size(sellers)}">
    <h2 th:case="0"> No sellers yet!</h2>
    <div th:case="*">
        <h2>Sellers</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="seller : ${sellers}">
                <td th:text="${seller.name}"></td>
                <td th:text="${seller.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/newSeller">Add a new seller</a></p>
</div>
</body>
</html>