<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1 th:text="${seller.name}"></h1>
<p>Birta allar upplýsingar um viðkomandi seller og lista yfir auglýsingar og stöður þeirra.</p>
<div th:switch="${#lists.size(advertisements)}">
    <h2 th:case="0"> No advertisement yet!</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Original amount</th>
                <th>Current amount</th>
                <th>Price</th>
                <th>Expires</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="advertisement : ${advertisements}">
                <td th:text="${advertisement.name}"></td>
                <td th:text="${advertisement.description}"></td>
                <td th:text="${advertisement.originalAmount}"></td>
                <td th:text="${advertisement.currentAmount}"></td>
                <td th:text="${advertisement.price}"></td>
                <td th:text="${advertisement.expireDate}"></td>
                <td><a th:href="@{/advertisements/delete/{id}(id=${advertisement.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<p><a href="/addadvertisement">Setja inn nýja auglýsingu</a></p>
</body>
</html>