<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <head th:insert="/Fragments/headerLinks.html"></head>
    <title>Profile</title>
</head>
<body>
<div th:insert="Fragments/navbar.html"></div>

<div class="text-center p-2">
 <div class="card text-center border-primary w-50">
    <div class="card-body">
      <h1 class="card-title" th:text="${seller.name}"></h1>
      <h4 class="card-subtitle">Söluaðili</h4>
        <p class="card-text" th:text="${seller.email}"></p>
    </div>
 </div>
</div>

<div class="text-center p-2">
  <a href="/addAdvertisement" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Setja inn nýja auglýsingu</a>
</div>

<div th:switch="${#lists.size(advertisementsActive)}">
    <h2 th:case="0"> Þú hefur ekki sett inn virkar auglýsingar</h2>
    <div th:case="*">
        <table class="table table-bordered th">
            <caption>Þínar virku auglýsingar</caption>
            <thead class="table thead-light th">
            <tr>
                <th>Heiti</th>
                <th>Lýsing</th>
                <th>Upphaflegt magn</th>
                <th>Eftirstöðvar</th>
                <th>Verð</th>
                <th>Gildir til</th>
                <th>Eyða auglýsingu</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="advertisement : ${advertisementsActive}">
                <td th:text="${advertisement.name}"></td>
                <td th:text="${advertisement.description}"></td>
                <td th:text="${advertisement.originalAmount}"></td>
                <td th:text="${advertisement.currentAmount}"></td>
                <td th:text="${advertisement.price}"></td>
                <td th:text="${advertisement.expireDate}"></td>
                <td><a th:href="@{/advertisements/delete/{id}(id=${advertisement.id})}">Eyða</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:switch="${#lists.size(advertisementsInactive)}" class="mb-5">
    <h2 th:case="0"> Engar óvirkar auglýsingar</h2>
    <div th:case="*">
        <table class="table table-bordered">
            <caption>Þínar óvirku auglýsingar</caption>
            <thead class="thead-dark">
            <tr>
                <th>Heiti</th>
                <th>Lýsing</th>
                <th>Upphaflegt magn</th>
                <th>Eftirstöðvar</th>
                <th>Verð</th>
                <th>Gildir til</th>
                <th>Eyða auglýsingu</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="advertisement : ${advertisementsInactive}">
                <td th:text="${advertisement.name}"></td>
                <td th:text="${advertisement.description}"></td>
                <td th:text="${advertisement.originalAmount}"></td>
                <td th:text="${advertisement.currentAmount}"></td>
                <td th:text="${advertisement.price}"></td>
                <td th:text="${advertisement.expireDate}"></td>
                <td><a th:href="@{/advertisements/delete/{id}(id=${advertisement.id})}">Eyða</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
