<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link href="../static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"
          rel="stylesheet" media="screen" />
    <meta charset="UTF-8">
    <title>Sellers</title>
</head>
<body>
<div th:switch="${lists.size(sellers)}">
    <h2 th:case="0"> No sellers yet!</h2>
    <div th:case="*">
        <h2>Sellers</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="seller : ${sellers}">
                <td th:text="${seller.name}"></td>
                <td th:text="${seller.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/newseller">Add a new seller</a></p>
</div>
</body>
</html>