<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <head th:insert="/Fragments/headerLinks.html">

    </head>
    <title>Velkomin</title>
</head>
<body>
    <div th:insert="Fragments/navbar.html"></div>
    <section id="hero-section">


    </section>
    <section class="container mt-n5 mb-5">
        <div class="row row-cols-3 justify-content-center main-cards">
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded h-100">
                    <div class="card-body">
                        <h5 class="card-title">Auglýsingar</h5>
                        <a href="/advertisements">Skoða allar auglýsingar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded h-100">
                    <div class="card-body">
                        <h5 class="card-title">Flokkar</h5>
                        <a href="/advertisements/categories">Skoða alla flokka</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded h-100">
                    <div class="card-body">
                        <div  th:switch="${loggedInUser}">
                            <div th:case="null">
                                <h5 class="card-title">Skráðu þig inn!</h5>
                                <a href="/login" class="btn btn-outline-primary">Innskráning</a>
                                <a href="/signup" class="btn btn-primary">Nýskráning</a>
                            </div>
                            <div th:case="*">
                                <h5 class="card-title">Profile</h5>
                                <a th:href="@{/profile/} + ${userType}">Heimasvæði</a>
                                <a th:href="@{/order}" th:if="${userType} == 'Buyer'">Skoða körfu</a>
                                <a href="/logout">Útskráning</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${!#lists.size(adToday).equals(0)}" class="row row-cols-1 mt-5 p-0">
            <h2 class="h3 col">
                Nýjar auglýsingar
            </h2>
            <div class="card-columns col">
                <th:block th:each="advertisement : ${adToday}">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body">
                            <th:block th:switch="${userType.equals('buyer')}">
                                <h5 th:case="false" class="card-title" th:text="${advertisement.name}"></h5>
                                <a th:case="true" th:href="@{/orderitem/} + ${advertisement.id}" class="card-linkable"><h5 class="card-title" th:text="${advertisement.name}"></h5></a>
                            </th:block>
                            <p class="card-text pt-0"><strong th:text="${advertisement.owner}"></strong></p>
                            <p class="card-text" th:text="${advertisement.price } + kr"></p>
                            <p class="card-text" th:text="${advertisement.description}"></p>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <div th:if="${!#lists.size(lastChance).equals(0)}" class="row row-cols-1 mt-5 p-0">
            <h2 class="h3 col">
                Síðasti séns
            </h2>
            <div class="card-columns col">
                <th:block th:each="advertisement : ${lastChance}">
                        <div class="card shadow bg-white rounded">
                            <div class="card-body">
                                <th:block th:switch="${userType.equals('buyer')}">
                                    <h5 th:case="false" class="card-title" th:text="${advertisement.name}"></h5>
                                    <a th:case="true" th:href="@{/orderitem/} + ${advertisement.id}" class="card-linkable"><h5 class="card-title" th:text="${advertisement.name}"></h5></a>
                                </th:block>
                                <p class="card-text pt-0"><strong th:text="${advertisement.owner}"></strong></p>
                                <p class="card-text" th:text="${advertisement.price } + kr"></p>
                                <p class="card-text" th:text="${advertisement.description}"></p>
                            </div>
                        </div>
                 </th:block>
            </div>
        </div>
    </section>
</body>
</html>
