<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <head th:insert="/Fragments/headerLinks.html">

    </head>
    <title>Velkomin</title>
</head>
<body>
    <h1>Halló heimur!</h1>
    <!--<div th:insert="Fragments/navbar.html"></div>
    <section id="hero-section">


    </section>
    <section class="container mt-n5">
        <div class="row row-cols-3 justify-content-center main-cards">
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded h-100">
                    <div class="card-body">
                        <h5 class="card-title">Auglýsingar</h5>
                        <a href="/advertisements">Skoða allar auglýsingar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded h-100">
                    <div class="card-body">
                        <h5 class="card-title">Flokkar</h5>
                        <a href="/advertisements">Skoða alla flokka</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded h-100">
                    <div class="card-body">
                        <div  th:switch="${loggedInUser}">
                            <div th:case="null">
                                <h5 class="card-title">Skráðu þig inn!</h5>
                                <a href="/login" class="btn btn-outline-primary">Innskráning</a>
                                <a href="/signup" class="btn btn-primary">Nýskráning</a>
                            </div>
                            <div th:case="*">
                                <h5 class="card-title">Profile</h5>
                                <a th:href="@{/profile/} + ${userType}">Heimasvæði</a>
                                <a th:href="@{/order}" th:if="${userType} == 'buyer'">Skoða körfu</a>
                                <a href="/logout">Útskráning</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h3>Nýjar auglýsingar</h3>
    <div th:switch="${#lists.size(adToday)}">
        <h4 th:case="0"> Það eru engar nýjar auglýsingar í dag</h4>
        <div th:case="*">
            <table>
                <thead>
                <tr>
                    <th>Söluaðili</th>
                    <th>Heiti</th>
                    <th>Lýsing</th>
                    <th>Upphaflegt magn</th>
                    <th>Eftirstöðvar</th>
                    <th>Verð</th>
                    <th>Gildir til</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="advertisement : ${adToday}">
                    <td th:text="${advertisement.owner}"></td>
                    <td th:text="${advertisement.name}"></td>
                    <td th:text="${advertisement.description}"></td>
                    <td th:text="${advertisement.originalAmount}"></td>
                    <td th:text="${advertisement.currentAmount}"></td>
                    <td th:text="${advertisement.price}"></td>
                    <td th:text="${advertisement.expireDate}"></td>
                    <td><a th:href="@{/orderitem/} + ${advertisement.id}" th:if="${userType.equals('buyer')}">Skoða</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h3>Síðasti séns</h3>
    <div th:switch="${#lists.size(lastChance)}">
        <h4 th:case="0"> Það renna engar auglýsingar út í dag</h4>
        <div th:case="*">
            <table>
                <thead>
                <tr>
                    <th>Söluaðili</th>
                    <th>Heiti</th>
                    <th>Lýsing</th>
                    <th>Upphaflegt magn</th>
                    <th>Eftirstöðvar</th>
                    <th>Verð</th>
                    <th>Gildir til</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="advertisement : ${lastChance}">
                    <td th:text="${advertisement.owner}"></td>
                    <td th:text="${advertisement.name}"></td>
                    <td th:text="${advertisement.description}"></td>
                    <td th:text="${advertisement.originalAmount}"></td>
                    <td th:text="${advertisement.currentAmount}"></td>
                    <td th:text="${advertisement.price}"></td>
                    <td th:text="${advertisement.expireDate}"></td>
                    <td><a th:href="@{/orderitem/} + ${advertisement.id}" th:if="${userType.equals('buyer')}">Skoða</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>-->
</body>
</html>
