<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <meta charset="UTF-8">
    <title>Velkominn</title>
</head>
<body>
<h1>Velkominn á Matbjörg</h1>
<p><a href="/advertisements">Advertisements</a></p>
<div th:switch="${loggedInUser}">
    <p th:case="null"><a href="/login">Login</a></p>
    <p th:case="*">
        <a th:href="@{/profile/} + ${userType}">Profile</a>
        </br>
        <a href="/logout">Logout</a>
    </p>
</div>

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</body>
</html>